.lovers_bx
	.top
		%h1
			Music Lover’s Statement of Support
		%p
			I am joining this movement because I believe that if Musicians unite to support the Musician Rights Memo, we will create a new standard in the music industry where MUSICIAN'S COME FIRST!
	.body
		%h3
			Definitions:
		%ul
			%li
				<span id="def">Music Lover</span> - One who garners an overwhelming feeling of respect and fondness for Musicians
			%li
				<span id="def">Statement of Support</span> - Documentation that shows one is in agreement with the idea presented
	.body
		%h3
			The Statement
		%ul
			%li
				I agree to the following:
			%ul
				%li
					I love Musicians 
				%li
					I support Musician Rights 
				%li
					I support The Musician Memo.
	.button.love_button
		I Accept
