= render 'layouts/header'
= render 'layouts/nav'
.about
	.pic
		%h2
			Founder
		=image_tag "indiegogoprofilepic.jpg"
		%p
			My name is Davina Amiri and I am an Artist's lawyer based in NY. While representing clients, I have become frustrated with the lack of bargaining power for Artists. 
	.text
		%h1
			Together We Have a Voice
		.video
			%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/65E4vO1WRec", :width => "560"}
		%p
			As new technologies rattle the entire Entertainment Industry, now is especially the time for Musicians to come together. Not at the hands of Corporate created organizations, but from the hands of Musicians and Music lovers as well.
		%p
			This social enterprise will help Musicians regain power in contract negotiations, which means more money for Musicians.
		%p
			We truly believe if Musicians and Music Lover's unite through this organization and Musicians agree to certain minimum requirements for their contracts, Musicians will finally have an equal playing field in the Music Industry.
	%ul
		%a{'href' => '/donate'}
			%li
				%i.icon-usd
				%p
					donate
		%a{'href' => 'mailto:musicanrights.org@gmail.com'}
			%li
				%i.icon-comments
				%p
					contact
		%a{'href' => '/members'}
			%li
				%i.icon-pencil
				%p
					get involved