.donate
	.text
		%h1
			Donate to Musician Rights
		%h2
			Thanks for contributing to fund Musician Rights ongoing work!
		%p
			Donating through this page funds our general operations.  
			%br
				You can donate by sending a check to:
		%p
			Musician Rights 
			%br
			283 Old Deal Rd 
			%br
			Eatontown, NJ 07724
	.paypal_box
