.container
	.banner
	.third
		.section_one
			.banner
				Upcoming Events
			.box
				.events
					.text
						hello
		.section_two
			.banner
				Follow Us on Twitter
			.box
				.twitter
					=render 'pages/twitter'
		.section_three
			.banner
				Like Us on Facebook
			.box
				.facebook
					=render 'pages/facebook'
