= render 'layouts/header'
= render 'layouts/nav'
.container
	.banner
	.first
		.screen
		.overlay
	.second
	.third
		.section_one
			.banner
				Upcoming Events
			.box
				.events
					.text
						-@events.each do |event|
							.event
								.title
									=event.title
								-if event.date
									.date
										- date = event.date
										= date.inspect
										<span class='time'> #{event.time} </span>
								.details
									Event Details:
									.dts
										=event.details
								.location
									=event.location
								%a{"href" => event.button_url}
									.join
										Join Event

		.section_two
			.banner
				Follow Us on Twitter
			.box
				.twitter
					=render 'pages/twitter'
		.section_three
			.banner
				Like Us on Facebook
			.box
				.facebook
					=render 'pages/facebook'


