= render 'layouts/header'
= render 'layouts/nav'
.container
	.banner
	.first
		.screen
		.overlay
		.content
			.head
				%h1
					Our Mission
				.mission
					.top
						Uniting Musicians and Music Lovers to change the standard of doing business in the music industry.
					%ul
						.sub_header
							Definition of Musician Rights
						.nest_box
							%li
								Music - A recognizable sound
							%li
								Musician - Anyone who creates a recognizable sound
							%li
								Rights - Inherent entitlement
					%ul
						.sub_header
							Musician Rights
						.nest_box
							%li
								The Right to own and maintain control of one’s Music.
							%li
								The Right to own and control Copyright.
							%li
								The Right to own and control Master recording.
							%li
								The Right to own and control Publishing.
					%a{'href' => '/members'}
						.member
							Become A Member
			.g_head
				%h1
					Our Goals
				.goals
					%ul.tabs
						%a{:href => "#tab1"} 
							%li Empower
						%a{:href => "#tab2"} 
							%li Educate
						%a{:href => "#tab3"}
							%li Impact
					#tab1
						%p Knowledge is power. Use this site to learn about Musician Rights.
					#tab2
						%p Agree to the Musician Rights Memo or the Music Lover's Statement of Support to create a new standard of doing business in the music industry.
					#tab3
						%p Together we can be apart of any action or debate which would effect musicians.
	.second
		.memo_one
			.memo
				.banner
					Musician Rights Memo
			%a{:href => "/"}
				.memo_box
					%br
					%br
					%i.icon-headphones
					%p Learn your Rights
		.memo_two
			.memo
				.banner
					Statement of Support
			%a{:href => "/"}
				.memo_box
					%br
					%br
					%i.icon-file-text-alt
					%p Support the Movement
	.third
		.section_one
			.banner
				Upcoming Events
			.box
				.events
					.text
						-@events.each do |event|
							.event
								.title
									=event.title
								-if event.date
									.date
										- date = event.date
										= date.inspect
										<span class='time'> #{event.time} </span>
								.details
									Event Details:
									.dts
										=event.details
								.location
									=event.location
								%a{"href" => event.button_url}
									.join
										Join Event

		.section_two
			.banner
				Follow Us on Twitter
			.box
				.twitter
					=render 'pages/twitter'
		.section_three
			.banner
				Like Us on Facebook
			.box
				.facebook
					=render 'pages/facebook'
		=render 'pages/memo'
