.donate
	@include outer-container
	min-height: 600px
	.text
		@include span-columns(9)
		line-height: 27px
		font-size: 16px
		padding: 28px
	.paypal_box
		@include span-columns(3)
		height: 200px
		width: 250px
		margin-top: 125px
		text-align: center
	form input[type=image]
		width: 175px