$yellow: #FEBC06
$green: #4BD391

body
	margin: 0px
	background-color: #F5F5F5
	font-family: 'Lato', sans-serif
	list-style: none
	line-height: 20px
.container
	width: 1160px
	margin-right: auto
	margin-left: auto