$yellow: #FFD65A
$green: #353F48
$grey: $green

body
	margin: 0px
	background-color: #F5F5F5
	font-family: 'Lato', sans-serif
	font-weight: 300
	list-style: none
	line-height: 20px
	color: $grey
	width: 100%
.container
	width: 1160px
	margin-right: auto
	margin-left: auto

@media screen and (min-width: 320px) and (max-width: 769px)
	.expand
		width: 1301px !important
	.r_signup_box
		width: 300px !important
	.r_header2
		width: 294px !important
	.r_second_copy
		width: 44% !important
	.r_counter
		margin-left: 702px !important