.first
	.screen
		background-image: url(hand-air.jpg)
		width: 129.27%
		min-height: 492px
		margin-left: -200px
	.overlay
		width: 125.27%
		min-height: 493px
		margin-top: -493px
		background-color: rgba(255,255,255,0.2)
		margin-left: -150px
	.content
		@include outer-container
		margin-top: -462px
		min-height: 420px
		margin-bottom: 42px
		.head
			background-color: $green
			margin-right: 0 !important
			@include span-columns(7)
			h1
				color: $yellow
				padding-left: 30px
			.mission
				padding: 17px
				font-size: 21px
				line-height: 33px
				background-color: whitesmoke
				width: 100%
				height: 357px
				.top
					text-align: center
				a
					text-decoration: none
				ul
					font-size: 19px
					width: 59%
					display: inline-block
					float: left
					padding: 0px 0 4px 14px
					margin-top: 10px
					.sub_header
						border-bottom: 1px solid $yellow
					.nest_box
						border-left: 1px solid $yellow
						height: 147px
						li
							list-style: none
							font-size: 16px
							line-height: 21px
							padding-left: 14px
							padding-top: 5px

				ul:nth-child(2)
					width: 41%
					padding: 0
					li
						list-style: none
						font-size: 16px
						line-height: 21px
						padding-top: 18px
				.member
					@include transition (all 0.2s ease-in-out)
					border: 2px solid #353f48
					width: 195px
					height: 41px
					background-color: whitesmoke
					color: #353f48
					text-transform: uppercase
					font-size: 17px
					float: right
					margin: -8px 198px 0 16px
					padding: 2px 0 0 12px
					&:hover
						background-color: $green
						border: 2px solid $yellow
						color: $yellow
		.g_head
			@include span-columns(5)
			background-color: $green
			margin-left: 25px
			h1
				color: $yellow
				padding-left: 30px
			.goals
				height: 357px
				background-color: whitesmoke
				p
					padding: 0 40px
					background: white
					width: 406px
					margin: -18px 0 0 14px
					height: 291px
					padding-top: 80px
					border-top: 2px solid $grey
				ul
					li
						@include transition (all 0.2s ease-in-out)
						display: inline-block
						text-decoration: none
						width: 29.4%
						text-align: center
						margin-top: 10px
						height : 40px
						padding-top: 8px
						border-left: 2px solid $grey
						border-right: 2px solid $grey
						border-top: 2px solid $grey
						background-color: whitesmoke 
						&:hover
							background-color: $grey 
							color: $yellow 
					a
						text-decoration: none
						font-size: 20px
						color: $grey
					.active
						color: $yellow
					.active li	
						background-color: #ffffff
						height: 42px

