.third
	@include outer-container
	width: 1088px
	margin: 33px 0 30px 0
	.box
		border: 1px solid #ffffff
		width: 350px
		border-radius: 3px
		background-color: #ffffff
	.banner
		background-color: $yellow
		width: 200px
		height: 35px
		text-align: center
		font-size: 16px
		color: $green
		padding-top: 6px
		margin: -14px 0 -8px -11px
		float: left
	.section_one
		@include span-columns(4)
		margin-right: 2.35765%
		width: 345px
		.box
			height: 615px
		.events
			margin: 0 auto
			width: 325px
			.text
				border: 1px solid #E8E8E8
				margin-top: 27px
				height: 563px
				border-radius: 3px
				overflow-y: scroll
				.event
					border-bottom: 1px solid #aaaaaa
					padding: 10px
					.title
						padding: 5px 0 5px 10px
						border-left: 7px solid $yellow
						border-bottom: 1px solid #afafaf
						font-size: 20px
					.date
						font-size: 12px
						padding: 5px 0 0 10px
						.time
							padding-left: 10px
					.details
						padding: 5px 0
						.dts
							padding: 10px 0 0 10px
							color: #333333
							font-size: 14px
							width: 303px
					.location
						text-align: center
						padding: 10px
	.section_two
		@include span-columns(4)
		.twitter
			margin: 0 auto
			width: 325px
			iframe
				border: 1px solid #aaaaaa
				margin: 19px 0
	.section_three
		@include span-columns(4)
		margin-right: 0
		.facebook
			margin: 0 auto
			width: 325px
			iframe
				border-radius: 3px
				margin: 20px 0
.new_user
	display: none
.band
	margin-left: 50px
.home_love
	overflow-x: scroll
	border-radius: 3px
	position: fixed
	top: 7%
	width: 575px
	background-color: whitesmoke
	border: 7px solid $yellow
	height: 78%
	left: 29%
	background-color: #ffffff
	display: none	
	.top
		background-color: $grey
		color: $yellow
		height: 66px
		margin-top: -22px
		border-radius: 3px 3px 0 0
		h1
			padding-top: 21px
			text-align: center
		p
			color: $grey
			padding: 16px
	.body:nth-child(2)
		margin-top: 90px
	.body
		padding: 0px 28px 0px 0
		margin: 5px 0 0 28px
		border-left: 1px solid
		#def
			text-transform: uppercase
			border-bottom: 1px solid $yellow
		h3
			color: $yellow
			background-color: $grey
			border-bottom: 4px solid
			padding: 3px 0 0 11px
			height: 30px
			border-radius: 0 3px 3px 0
		ul
			line-height: 24px
			list-style: none
.close
	position: fixed
	top: 7%
	background-color: whitesmoke
	font-size: 50px
	border-radius: 32px
	width: 56px
	cursor: pointer
	height: 56px
	padding-left: 6px
	border: 2px solid $grey
	margin: -24px 0 0 -31px
	@include transition (all 0.2s ease-in-out)
	&:hover
		background-color: $grey
		color: $yellow