.third
	display: -webkit-flex
	display: flex
	width: 100%
	.section_one
		width: 33%
		.events
			width: 345px
	.section_two
		-webkit-flex: none
		flex: none
		width: 33%
		min-width: 100px
		.twitter
			width: 345px
	.section_three
		-webkit-flex: 1
		flex: 1
		width: 33%
		min-width: 100px
		.facebook
			width: 345px
			