.first
	.screen
		background-image: url(hand-air.jpg)
		width: 140%
		min-height: 492px
		margin-left: -200px
	.overlay
		width: 140%
		min-height: 493px
		margin-top: -493px
		opacity: .65
		background-color: white
		margin-left: -150px