header
	background-color: $yellow
	height: 98px
	.flash
		position: absolute
		left: 540px
		font-size: 25px
		top: 13px
		color: whitesmoke
		font-weight: 700
		text-shadow: 0px 0 4px #afafaf
		display: none
	.container
		width: 1160px
		.logo
			width: 263px
			img
				margin: 4px 0px 10px 40px
				width: 200px
				float: left
		.flex2
			text-align: right
			margin-right: 65px 
			font-size: 44px
			float: right
			.text
				font-size: 13px
				line-height: 13px
				text-align: left
				color: whitesmoke
				width: 71px
				margin: 12px 0 0 0
				padding-bottom: 6px
			.icon-twitter
				color: #00AAF1
				@include transition (all 0.2s ease-in-out)
				&:hover
					text-shadow: #A8A8A8 0 0 0.1em 
			.icon-facebook
				color: #38559B
				@include transition (all 0.2s ease-in-out)
				&:hover
					text-shadow: #A8A8A8 0 0 0.1em  
			a
				text-decoration: none  
.nav_bar
	height: 61px
	width: 533px
	float: left
	margin: 37px 0 0 0 
	ul
		margin: 0
		list-style: none
		padding-top: 18px
		li
			margin: 0 15px
			font-weight: 700
			font-size: 23px
			display: inline-block
		a
			color: $grey
			text-decoration: none
			@include transition (all 0.2s ease-in-out)
			&:hover
				color: white

.sign_up
	background-color: $green
	height: 56px
	padding-top: 12px
	.join
		float: right
		@include transition (all 0.2s ease-in-out)
		border: 2px solid #ffffff
		width: 115px
		height: 36px
		padding: 6px 0 0 18px
		background-color: $green
		cursor: pointer
		color: #ffffff
		text-transform: uppercase
		font-size: 14px
		margin: -3px 45px 0 20px
		&:hover
			background-color: #fff
			color: $green
	.copy
		float: right
		color: #fff
		margin: 5px 13px 0 0