.footer
	.sitemap
		Site Map
		%ul
			%a{"href" => "/"}
				%li
					Home
			%a{"href" => "/members"}
				%li
					Members
			%a{"href" => "/donate"}
				%li
					Donate
			%a{"href" => "/about"}
				%li
					About
			%a{"href" => "mailto:davina.amiri@gmail.com"}
				%li
					Contact
			%a{"href" => "/admin"}
				%li
					Admin
