%header
	.container
		.logo
			=image_tag "logo_one.png"
		.splash
			Unite Musicians to End Unfairness
		.flex2
			%a{"href" => "https://www.facebook.com/pages/Musician-Rights/123687557816878"}
				%i.icon-facebook
			%a{"href" => "https://twitter.com/MusicianRights"}
				%i.icon-twitter
