%header
	.container
		%a{"href" => "/"}
			.logo
				=image_tag "logo_one.png"
			- flash.each do |name, msg|
				= content_tag :div, msg, class: name
		.nav_bar
			.container
				%ul
					%a{"href" => "/members"}
						%li
							Members
					%a{"href" => "/donate"}
						%li
							Donate
					%a{"href" => "/about"}
						%li
							About
					- if admin?
						= link_to 'Admin Panel', users_panel_path
						= link_to 'Logout', logout_path
		.flex2
			.text
				Join The 
				%br Conversation
			%a{"href" => "https://www.facebook.com/pages/Musician-Rights/123687557816878"}
				%i.icon-facebook
			%a{"href" => "https://twitter.com/MusicianRights"}
				%i.icon-twitter
