.nav_bar
	.container
		%ul
			%a{"href" => "/"}
				%li
					Home
			%a{"href" => "/"}
				%li
					Get Involved
			%a{"href" => "/"}
				%li
					Donate
			%a{"href" => "/"}
				%li
					About
.sign_up
	.container
		.signup
			= semantic_form_for @user, remote: true do |f|
				.email_sub_submit 
					= f.action :submit, label: "Sign Up"
				.email_sub
					= f.input :email, label: false , placeholder: 'your.name@email.com'
		.copy
			Support the movement. Stay Informed.